.hide {display:none;}

.unselectable, button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.controls, div.volume-controls {
    position: fixed;
    width: 50%;
    z-index: 10;
    background-color: white;
    top: 25%;
    left: 25%;
    filter: drop-shadow(4px 4px 4px #888);
    padding: 20px;
}

div.volume-controls {
    z-index: 12;
}

div.gallery {
    height: 100px;
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 10px;
}

canvas {
    height: inherit;
    border: 1px solid white;
    margin: 2px;
}

button#start {
    margin-top: 10px;
    display: block;
    text-align: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.upper.right {
    position: fixed;
    top: 20%;
    right: 10px;
}

.lower.right {
    position: fixed;
    bottom: 10px;
    right: 10px;
}



.lower.left {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.z20 { z-index: 20}

.msg, .msgs {
    text-align: right;
    font-family:monospace;
    color: white;
    text-shadow: 1px 1px black;
}

.msg {
    position: fixed;
    right: 10px;
    bottom: 50px;
}

.msgs {
    bottom: 70px;
    position: fixed;
    right: 10px;
}

.settings {
    color:black;
    text-shadow: 1px 1px white;
}

.output {
    color: grey;
    font-size: small;
    display:inline;
}

.marker.status {font-size: x-large; z-index: 20; text-shadow: 1px 1px black; text-align: right;}
.marker.status div { display: none}
.marker.status.lost div.lost {color:red; display:block}
.marker.status.found div.found {color:gold; display:block}
.marker.status.correct div.correct {color:green; display:block}